<header class="site-header">
  <a class="mark" href="../index.html">P20012://ARCHIVE</a>
  <nav aria-label="Main navigation">
    <a data-nav-page="home" href="../index.html#about">About</a>
    <a href="../index.html#pricing">Pricing</a>
    <a data-nav-page="guestbook" href="../guestbook.html">Guestbook</a>
    <a data-nav-page="yearbook" href="../yearbook.html">Yearbook</a>
    <a data-nav-page="archive" href="../archive.html">Archive</a>
    <a data-nav-page="licensure" href="../licensure.html">Licensure</a>
  </nav>
</header>
